.signup-container {
    background-image: url('../img/signupbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.signin-container {
    background-image: url('../img/signinbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}